@model CreditCards.ViewModels.NewCreditCardApplicationDetails

@{
    ViewData["Title"] = "Credit Card Application";
}

<h2>New Credit Card Application</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Application Details
            </div>
            <div class="panel-body">
                @Html.ValidationSummary()
                <form method="post" asp-controller="Apply" asp-action="Index">
                    <fieldset class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="FrequentFlyerNumber"></label>
                        <input asp-for="FrequentFlyerNumber" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="Age"></label>
                        <input asp-for="Age" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="GrossAnnualIncome"></label>
                        <input asp-for="GrossAnnualIncome" class="form-control" />
                    </fieldset>
                    <input id="submitApplication" type="submit" value="Submit Application" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>